@{
    ViewData["Title"] = "Home Page";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/style.css">

<div class="container">
    <div class="size-fields">
        <input type="number" min="2" max="40" class="height-input" id="height-input" placeholder="enter height" />
        <input type="number" min="2" max="40" class="width-input" id="width-input" placeholder="enter width" />
    </div>

    <button class="submit-button" id="submit-button" onclick="submitData()">
        Submit
    </button>

    <button class="calculate-button" id="calculate-button" onclick="updateField()">
        Calculate
    </button>
    
    <div class="tiles-container" id="tiles-container"></div>

    <div class="results-container" id="results-container">
        <p class="result-count-text" id="result-count-text">
            Result: 
        </p>
    </div>
</div>

<script src="/js/Tiles.js"></script>
