@{
    ViewData["Title"] = "Home Page";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/style.css">

<div class="container">
    <div class="inner-container">
        <div class="size-fields">
            <input type="number" min="2" max="40" class="size-input" id="height-input" placeholder="Height" />
            <input type="number" min="2" max="40" class="size-input" id="width-input" placeholder="Width" />
        </div>
        <div class="buttons-container">
            <button class="operation-button" id="submit-button" onclick="submitData()">Create field</button>
        </div>

        <div id="tiles-container"></div>

        <div id="results-container">
            <p id="result-count-text"></p>
        </div>
    </div>

    <div class="hint-box">
        <h1>How to use</h1>
        <p>
            1) Enter field size Height and Width <br>
            2) Click Create field button <br>
            3) Click on field tiles to cut them out <br>
            4) Click Calculate to get result <br>
        <p style="color: red"> CAUTION </p>
        Input field must contain only Integer, field cannot be less than 2x2!
        </p>
    </div>
</div>

<script src="/js/Tiles.js"></script>
